
/*.col-md-3 {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.col-md-2 {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.col-md-4 {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.col-md-4 {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.col-md-5 {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.col-md-6 {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.col-md-7 {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.col-md-8 {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
  .form-group{
    width: 100%;
    margin-top: 5px;
    
  }
  .form-group label{
    width: 200px;
    float: left;
  }
  .form-group input{
    width: 480px;
    float: left;
  }
  .form-group select{
    width: 480px;
    float: left;
  }
  .input-group{
    width: 300px;
  }
  .search_box_main_ledger, .search_box_sales_man, .search_box_delivery_man,.search_box_purchase_order {
    position: absolute;
    z-index: 9999;
    background: #fff;
    margin-top: 34px;
    margin-left: 15%;
    width: 400px;
}
input[type='text'] {
    min-width: 150px;
    max-width: 500px;
}
textarea.form-control {
    min-width: 150px;
    max-width: 500px !important;
}
.datetimepicker-input{
  width: 240px !important;
}
.ml-10{
  margin: 10px;
  margin-left: 15%;
}

._barcode_search_div {
    position: absolute;
    margin-left: 54%;
    top: 33px;
    z-index: 999;
}


label{
font-size: 18px;
padding-left: 10px;
}
*/

